{
 {{#oauth2-hook?}}
 :oauth2_client_id "go to https://console.developers.google.com"
 :oauth2_client_secret "get the oauth client id and secret"
 :oauth2_redirect_path "/oauth2callback"
 {{/oauth2-hook?}}
 :database_url "jdbc:postgresql://localhost:5432/{{sanitized}}"
 :swagger_ui_auth "{{sanitized}}:{{swagger-pw}}"
 :api_tokens {"{{api-token}}" {:username "token-user" :role :api}}
 :jwt_key "{{jwt-key}}"
 :cookie_key "{{cookie-key}}"
}
