{
 {{#oauth2-hook?}}
 :oauth2_client_id "go to https://console.developers.google.com"
 :oauth2_client_secret "get the oauth client id and secret"
 :oauth2_redirect_path "/oauth2callback"
 {{/oauth2-hook?}}
 :database_url "jdbc:postgresql://localhost:5432/{{sanitized}}"
 :swagger_ui_auth "user:somepass"
 :api_tokens {"1234567890" {:username "token-user" :role :api}}
 :jwt_key "somesecret"
 :cookie_key "0123456789abcdef"
}
